<!--Displaying a list of heroes from mock-heroes.-->
<h2>My Heroes</h2>

<!--Creating a list to diplay heroes.-->
<ul class = "Heroes">
  <!--Displaying each hero in the heroes array
  when the element is clicked we will call the onSelect class in the heroes.ts-->
  <li *ngFor="let hero of heroes" 
  (click)="onSelect(hero)">
  <!--[class.selected]="hero === selectedHero" -->
    <span class = "badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul> 

<!--checking if data exists in the selected hero.
If it does we will display the following, else we will not.-->

<div *ngIf="selectedHero">

  <h2>
    <!-- Displaying the name of the hero that has been selected in all uppercase. -->
    {{selectedHero.name | uppercase}} Details
  </h2>

  <div><span>id: </span>{{selectedHero.id}}</div>
  <div><span>name: </span>{{selectedHero.name}}</div>

  <!--Users should be able to edit the hero with an input.-->
  <div>
    <label>name
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>